<div class="aboutPage">
<h1 class="PageTitle">About Me</h1>
  <!--About 1-->
  <div class="aboutInfoDiv">
    <div class="aboutText">
      <h2 class="name">Who Am I</h2>
        <p>
          I have worked as a Data Analyst for York Region in the Paramedic and Senior 
          Services department. It has really sparked my passion for creating programs that 
          benefits the user.
        </p>
        <p>
          I realized my passion for travel when I met my fiance in 2015. 
          Together we have been to over 20 Countries and counting
        </p>
    </div>
  <img class="aboutImgResponsive" src="assets/images/aboutJamie.JPG" alt="me and my fiancee jamie">
    
</div>
      <div class="gallery">
        <div class = "clipped-border">
            <img id=clipped src="assets/images/about1.JPG" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/about2.JPG" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/about3.JPG" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/aboutEgypt1.jpg" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/portugal1.jpg" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/Egypt2.jpg" alt="">
        </div>
        <div class = "clipped-border">
          <img id=clipped src="assets/images/iceland2.jpg" alt="">
        </div> 
      </div>
 </div>

