<h1 class="PageTitle">Projects</h1>

<div class="container-flex" id="projectcontainer">
    <div class="card" style="width: 18rem;">
      <h5 class="card-title">The Travelling Cookie</h5>  
  <img class="card-img" src="assets/images/travelcookie.PNG" alt="Travelling Cookie Co">
  <div class="card-body">
    <p class="card-text">Html and CSS website created for my Fiancee's Cookie Business with image Gallery
        and Contact order page
    </p>
    <a href="https://cmcinnes28.github.io/" class="btn btn-primary">View Project</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <h5 class="card-title">Video Game Review</h5>
  <img class="card-img" src="assets/images/videogamereview.PNG" alt="Video Game Review">
  <div class="card-body">
    <p class="card-text">ASP.net, HTML, CSS, JavaScript Project using CRUD and Login Credentials to create
        video game reviews
    </p>
    <a href="https://videogamereviews.azurewebsites.net/" class="btn btn-primary">View Project</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <h5 class="card-title">Portfolio</h5>
  <img class="card-img" src="assets/images/portfolioproject.PNG" alt="Portfolio Project">
  <div class="card-body">
    <p class="card-text">A Portfolio website using Angular, scss/css, JavaScript to display my work.</p>
    <a href="https://cameronmcinnes.herokuapp.com/" class="btn btn-primary">View Project</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <h5 class="card-title">Contract Tracker</h5>
  <img class="card-img" src="assets/images/ContractTracker.PNG" alt="Contract Tracker App">
  <div class="card-body">
    <p class="card-text">A working Contract Tracker app using microsoft sharepint, Powerapps, and PowerAutomate for the paramedic division at Region of York </p>
    <a id="contractbtn" class="btn btn-primary">Confidential</a>
  </div>
</div>
</div>
