<script src="assets/js/scripts.js"></script>
<h1 class="PageTitle">Contact</h1>

<div class="ContactPage">
<div class="ContactForm" id="formSubmit">
  <!-- WORK IN PROGRESS FORM SUBMIT TO EMAIL
  <form>
<h4>Feel free to fill out the form about any inquiries and I'll get back to you soon as I can!</h4>
    <label class="formItem" for="name">Name:</label>
    <input class="formInput" type="text" id="name" name="fullname" placeholder="Your First and Last Name">

    <label class="formItem" for="email">Email:</label>
    <input class="formInput" type="email" id="email" name="email" placeholder="cam123@gmail.com">

    <label class="formItem" for="detail">Details:</label>
    <textarea class="formInput" id="detail" name="detail" placeholder="Elaborate on your question or comment"></textarea>

  </form>

  <button class="btn btn-dark" onclick=sendMail();>Send</button>-->
  <h2>You can reach me at my Email</h2>
  <h4>cameronmcinnes28@gmail.com</h4>
  <h2>or through my linkedin profile</h2>
  <button class="Discover btn-2" onclick="window.location.href='https://www.linkedin.com/in/cameron-mcinnes-227987141/';">Linkedin Profile</button>
  
</div>
</div>